.class {
    border-start-end-radius: 5px;
}

/*expected*/

@supports (border-start-end-radius: 5px) {
    .class {
        border-start-end-radius: 5px;
    }
}

@supports not (border-start-end-radius: 5px) {
    .class {
        border-top-right-radius: 5px;
    }

    [dir="rtl"] .class {
        border-top-right-radius: 0;
        border-top-left-radius: 5px;
    }
}
