.class {
    text-align: start;
    color: black;
    inset-block-end: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*expected*/

.class {
    text-align: start;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@supports (inset-block-end: 20%) {
    .class {
        inset-block-end: 20%;
    }
}

@supports not (inset-block-end: 20%) {
    .class {
        bottom: 20%;
    }
}
